name: Scala CI

on:
  push:
    branches: [ main, Working ]
  pull_request:
    branches: [ main, Working ]
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4  # Updated to v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Setup sbt
      uses: sbt/setup-sbt@v1
      
    - name: Run tests
      run: sbt test
      
    - name: Generate verilog
      run: sbt run